<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.czm.dao.ArticleDao">
    <!---声明表链接的手册 -->
    <resultMap type="com.baizhi.czm.entity.Article" id="aid">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="upload_time" property="upload_time"/>
        <result column="guru_name" property="guru_name"/>
        <result column="content" property="content"/>
        <result column="guru_id" property="guru_id"/>

        <association property="guru" javaType="com.baizhi.czm.entity.Guru">
                                            <!--外键方-->
            <result column="name" property="name"/>
        </association>
    </resultMap>

    <!--查所有-->
    <select id="queryAll" resultMap="aid">
		select * from c_article a
		left join c_guru g
		on a.guru_id=g.id
		limit ${(page-1)*rows},#{rows}
	</select>

    <!--总条数-->
    <select id="totalcount" resultType="int">
        select count(*) from  c_article
    </select>

    <!--添加-->
    <insert id="inse">
        insert into c_article (id,title,upload_time,guru_name,content,guru_id) values (#{id},#{title},#{upload_time},#{guru_name},#{content},#{guru_id})
    </insert>
    <!--修改-->
    <update id="update">
        update c_article
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="content!=null">
                content=#{content},
            </if>
            <if test="guru_name!=null">
                guru_name=#{guru_name}
            </if>
        </set>
        where id=#{id}
    </update>
    <!--删除文章-->
    <delete id="delete">
        delete from c_article where id=#{id}
    </delete>


</mapper>